body
{
  background-image:url("../img/bg.jpg");
}

h5
{
  font-size: 3em;
}
hr
{
  border: solid #e3d200 2px;
  width: 90%;
}
.container-fluid
{
  border-bottom: solid 2px #e3d200;
  width: auto;
  font-size: 2em;
}
.nav-item
{
  margin-right: 5%;
}

.carousel-caption
{
  display: absolute;
  top: 40%;
  background-color: black;
  opacity: 50%;
  height: 30%;

}
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);

}
.card
{
  border-bottom: 12%;
}
