@font-face{
	font-family: 'otachi';
	src: url('../font/Odachi.otf') format('opentruetype');
}

body
{
	font-family: , Gerogia, serif;
	color:black;
	  background-image:url("../img/bg.jpg");
}

a:hover
{
	cursor:pointer;
  	color:black;
}


h1{
	font-family: 'otachi';
	font-weight: bold;
	font-size:3.4em;
	border-bottom:3px solid #DFCB00;
	margin-top:5%;
	margin-bottom:3%;
	letter-spacing: 0.2em;
	word-spacing: 0.1em;
}
h3{
	font-weight: bold;
	font-size:2.5em;
}

h5
{
  font-size: 3em;
}
/*BARRE NAVIGATION*/

.bg-white{
	border-bottom:3px solid #DFCB00;
	font-size:1.7em;
	color:black;
	letter-spacing: 0.2em;
}
nav{
	margin-bottom: 100px;
}
li{
	margin:0.3em;
	color: black !important;
}

/*LIENS*/
a{
	color:black !important;
	text-decoration: none;
}

a:hover{
	cursor:pointer;
}

nav a:hover{
	color:#9F9A1C !important;
	cursor:pointer;
}

/* DIAPORAMA */
/* LEGENDE DES DIAPOS */
.carousel-caption
{
  background-color:rgba(0,0,0,0.4);
	font-size:1.5em;
	margin-bottom: 20%;
	letter-spacing: 0.2em;
	word-spacing: 0.1em;

}

/* FLECHE DU CAROUSEL */
.carousel-control-prev, .carousel-control-next{
	opacity:1;
}

.carousel-control-prev:hover, .carousel-control-next:hover{
	opacity:0.8;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 7em;
    width: 7em;
}

.carousel-control-prev-icon {
	background-image: url("../img/flecheprev.png") !important;
}

.carousel-control-next-icon {
	background-image: url("../img/flechenext.png") !important;
}
}
/*NOS GAMMES*/
h1[id^="ancre"]
{
padding-top: 10%;
position: relative;
top: -120px;
margin-bottom: -100px;
}
.description1{
	font-size:2em;
	text-align:center;
}
/*section de la carte avec ombres et marges*/
.gamme{
	box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);
	margin:10%;
}

/*image gamme*/
.imagegamme{
	height:auto;
	width:100%;
	align-self: center;
}

/*IMG FENETRE MODALE*/
.imagegamme2{
	height:auto;
	width:100%;
	display:block;
	align-self: center;
	margin-bottom: 5%;
}

/*description de la carte*/
.petittext{
	font-size:0.6em;
	font-weight: bold;
}

/*boutons Lire la suite*/
.btn{
	background-color:#DBCF00;
	font-weight: bold;
	font-size:0.9em;
	position:relative;
	z-index:1;
}

.btn:hover{
	background-color:#CFB800;
	font-size:0.9em;
	cursor:pointer;
}



/*NOTRE HISTOIRE*/

/*section de chaque carte*/
.sectionpersonnage{
	background-color: transparent;
	border:none;
	margin:5%;
	text-align: center;
}

/*nom des clients*/
.nom{
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
	letter-spacing: 0.2em;
}

/*description*/
.description{
	text-align: center;
	font-size:0.8em;
	letter-spacing: 0.2em;
	word-spacing: 0.1em;
}

/*PORTRAIT*/
.photo{
	align-self:center;
	border-radius:50%;
	height:10em;
	width: 10em;
	margin-bottom: -1.6em;
}

/*nos origines*/
.sectionorigine{
	border-bottom:3px solid #DFCB00;
	border-top:3px solid #DFCB00;
	margin-top:5%;
	margin-left:15%;
	margin-right:15%;
	background-color: transparent;
	letter-spacing: 0.2em;
	word-spacing: 0.1em;
}

/*nos infrastructures*/
.sectionorigine2{
	border-bottom:3px solid #DFCB00;
	margin-left:15%;
	margin-right:15%;
	background-color: transparent;
	letter-spacing: 0.2em;
	word-spacing: 0.1em;
}

/*on enlève le bg et la bordure de la carte*/
.bg-transparent{
	border:none;
}
/*image atelier et infrastructures*/
.imageorigine{
	text-align: center;
	width:100%;
}

/*titres Nos Origines et Nos Infrastructures*/
.titreorigine{
	margin-top:1em;
}

/*paragraphe nos origines et nos infrastructures*/
.paragraphe{
	font-size:1em;
}
/*Accordéon collapse*/

.categorieaccordeon{
	margin-left: 15%;
	margin-right: 15%;
	padding:10px;
	background-color: #DFCB00;
	border:1px solid black;
	border-radius: 10px;
}

.categorieaccordeon:hover{
	background-color: #CFB800;
}

.texteaccordeon{
  color: black;
	background-color: white;
	border-radius: 10px;
	letter-spacing: 0.2em;
	word-spacing: 0.1em;
	margin-right:15%;
	margin-left: 15%;
	font-size: 0.9em;
	padding:10px;
}

#accordeon{
	margin-bottom:5%;
	margin-top:5%;
}

/* FOOTER */
footer{
	background-color: white;
	margin:0;
}

.sectionfooter{
	margin-top:10%;
	margin-bottom: 10%;
	border:none;
}

.titrefooter{
	font-size:1.8em;
	text-align: center;
}

/*Formulaire*/

.form-style {
  margin:10px auto;
  width: 330px;
  padding: 20px 12px 10px 20px;
  word-spacing: 0.1em;
  letter-spacing: 0.2em;
}

.intituleinput{
	margin:0;
}

.form-style td {
  padding: 0;
  display: block;
  list-style: none;
  margin: 5px 0 0 0;
}
.form-style label{
  margin:0 0 0px 0;
  padding:0px;
  display:block;
  font-weight: bold;
}

.form-style input[type=text]:hover, .form-style input[type=tel]:hover, .field-text-area:hover{
  background: #E3E3E3;
  cursor:text;
}

.form-style .field-textarea{
  height: 80px;

}
.form-style input[type=text],
.form-style input[type=tel],
textarea{
    background-color: #EDEDEC;
	border:1px solid black;
	padding:0.5em;
	border-radius: 0.3em;
}

.form-style .long{
  width: 100%;
}

.form-style input[type=text]:focus,
.form-style input[type=tel]:focus,
.form-style textarea:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
.error{
  color: #D8000C;
  background-color: #FFBABA;
}

/*partie contact numéro tel*/

.logofooter{
	width:17em;
	height:auto;
	align-self: center;
	margin-top:5%;
	margin-bottom:5%;
}

.icone{
	margin-left:5%;
}

.iconeRS{
	height:2.7em;
	width: auto;
	margin-left: 5px;
	margin:2%;
}

.iconeRS:hover{
	opacity: 0.8;
	cursor: pointer;
}

.textfooter{
	word-spacing: 0.1em;
	letter-spacing: 0.2em;
	font-size: 1.2em;
}

.tel{
	margin-bottom: 10%;
	margin-top:5%;
}

/*map footer*/

.mapsection{
	align-items: center;
}
.map{
	width: 350px;
	height: 350px;
	text-align: center;
	margin:0;
	margin-top: 8%;
}

/*mentions légales*/

.mentions{
	letter-spacing: 0.2em;
	word-spacing: 0.1em;
	font-size: 0.9em;
}

.mention{
	padding-bottom: 10px;
}

/* RESPONSIVE */
@media screen and (min-width: 1450px){
	.map{
		height:30em;
		width: 30em;
	}

	.sectionfooter{
		margin:0;
	}
}
@media screen and (max-width: 1199px){
.map{
	height:55em;
	width: 55em;
}
}

@media screen and (max-width: 990px){

	.iconeRS{
	height:1.8em;
	width: auto;
}

	.map{
	height:35em;
	width: 35em;
}
}

@media screen and (max-width: 800px){

	.map{
		height:25em;
		width: 25em;


	}

	.iconeRS{
	height:1.9em;
	width: auto;
	}

	.mapsection{
		margin-top:0;
	}

	.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 5em;
    width: 5em;
	}
}

@media screen and (max-width: 600px){
/*entête*/
	.logo{
		height:3em;
		width: auto;
	}

/*titres*/
h1{
	font-size:3em;
	text-align:center;
}

h2{
	font-size:2em;
}


/*section gamme*/
	.petittext{
		font-size:1.2em;
	}

	.gamme{
		margin: 0 auto;
		margin-bottom: 5%;
		margin-top:5%;
	}

	.btn{
	font-size:1.2em;
	}

	.btn:hover{
	font-size:1.2em;
	}

/*section notre histoire*/
	.description{
		font-size: 1em;
	}

/*reseauxsociaux footer*/

	.iconeRS{
	height:2.5em;
	width: auto;
	}

		.map{
		height:15em;
		width: 15em;
		margin-top:0;
	}
	.form-style {
  width: 230px;

}
}

@media screen and (max-width: 400px){


	.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 3em;
    width: 3em;
	}

}

@media screen and (max-width: 300px){


	.iconeRS{
	height:2.2em;
	width: auto;
}

.form-style {
  width: 130px;

}

}
